/* 투명도만 바뀌는데 한번만 실행되는 */
.intro{
    animation: fadein 2s  ease; 
}
@keyframes fadein{ 
    0%{opacity: 0;} 
    100%{opacity: 1;} 
}


/* typing */
HTML CSS JSResult Skip Results Iframe
EDIT ON

.typing {  
    min-height: 7rem;
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}

.text_bold{
  font-weight: 500;
}
