/* 병원소개 */
.sub_banner{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.sub_banner .sub_banner_inner{
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
}
.sub_banner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5a5a5a url(../img/main_bg.jpg) no-repeat center center;
    background-size: cover;
    animation: animatedBackground 3s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
    /* z-index: -1; */
}
@keyframes animatedBackground {
    0%{background-size: 150%;}
    100%{background-size: 130%;}
}
.sub_banner .introduction_name{
    /* box-sizing: border-box; */
    height: 100%;
    padding-top: 10rem;
    font-size: 6.0rem;
    color: #fff;
    position: relative;
    z-index: 2;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.sub_banner .introduction_name h2::after{
    content: "";
    display: block;
    background: #fff;
    margin: 2rem auto 4rem;
    width: 90px;
    height: 4px;
}
.sub_banner .introduction_name p{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    width: 85%;
}
/* tab_list */
.tab_list{
    background: #e3e3e3;
    font-size: 2.1rem;
}
.tab_list_inner{
    max-width: 1280px;
    margin:0 auto;
}
.tab_list_inner ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab_list_inner ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_list_inner ul a{
    line-height: 70px;
}
.tab_list_inner ul li.on{
    background: #383838;
    color: #fff;
    font-weight: 700;
}
/* content */
.introduction_list>.content{display: none;}
.introduction_list>.content.on{display: block;}

.content h4{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9rem;
}
.content section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}
.content section>div{
    flex: 1;
    margin: 1rem;
}
.content .name_wrap{
    font-size: 4.5rem;
    font-weight: 200;
    letter-spacing: 10px;
    line-height: 5.5rem;
}
.circle{margin-top: -2rem;}
.circle>*{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: -5px;
}
.circle>i{
    background:#919191;
}
.circle>em{
    background:#383838;
}
.content .name_p{
    font-size: 2.2rem;
    font-weight: 700;
    color: #747474;
}
.content .name_p p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
}
/* con_wrap */
.con_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con_wrap.right_img{
    flex-direction: row-reverse;
}
.con_wrap img, .img_wrap{
    line-height: 0;
}
.con_wrap>div{
    flex: 1;
}
.con_wrap .img_wrap{
    width: 100%;
    height: 350px;
    box-sizing: border-box;

}

.con_wrap .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con_wrap .txt_wrap{
    /* margin: 2rem; */
    color: #747474;
    box-sizing: border-box;
}
.con_wrap .txt_wrap h6::before{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #b4d4ff;
}
.con_wrap .txt_wrap h6{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 2rem;
}
.con_wrap .txt_wrap p{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 2rem;

}
/*  */
.content .doctor_h4{
    padding-top: 130px;
    margin-bottom: 0rem;
}
.doctor_wrap.content_inner{
    padding-bottom: 0;
}
.doctor{
    display: block;
    overflow: hidden;
    position: relative;
}
.doctor::before {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
    content: '';
    border-radius: 0 550px 0 0;
    z-index: -1;
}
.doctor_wrap{
    display: flex;
    justify-content: space-between;
}
.doctor_wrap>div{
   flex: 1;
}
.doctor_wrap .img_wrap{
   margin-right: 5rem;
   display: flex;
    align-items: flex-end;
}

.doctor_wrap .txt_wrap p:first-of-type{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 120px 0 40px;
}
.doctor_wrap .txt_wrap p:first-of-type span{
    color: #558dd9;
    font-weight: 700;
}
.doctor_name{display: flex;}
.doctor_name b{
    font-size: 5rem;
    font-weight: 900;
}
.doctor_name i{
    font-size: 2.1rem;
    font-weight: 400;
}
.doctor_name i em{
    font-weight: 700;
}
.doctor_history{
    margin-top: 7rem;
}
.doctor_history>ul{
    margin-top: 2rem;
    /* list-style-type: disc;
    list-style-position: inside; */
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 2.6rem;
}
.doctor_history>ul li{
    display: flex;
}
.doctor_history>ul li::before{
    content: "•";
    display: block;
    margin: 0 5px;
}
.txt_wrap p:last-of-type{
    margin-top: 4rem;
    font-size:2.1rem ;
    line-height: 2.3rem;
}
/* 신경성형술 */
.pen.con_wrap{
    margin-bottom: 7rem;
}
.pen.con_wrap ul{
    margin: 4rem 1rem 2rem;
    font-size: 2.1rem;
    line-height: 2.3rem;
    /* list-style-type: disc;
    list-style-position: inside; */
}
.pen.con_wrap ul li{
    display: flex;
    margin-bottom: 2rem;
}
.pen.con_wrap ul li::before{
    content: "•";
    display: block;
    margin: 0 5px;
}
.bg_wrap .inner{
    margin:0 auto;
    max-width: 1280px;
    width: 98%;
}
.content_inner.pen_inner{
    padding-bottom: 0;
}
.bg_wrap.bluebg{
    position: relative;
}
.bg_wrap.bluebg::before{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #b4d4ff;
    content: '';
    /* border-radius: 0 550px 0 0; */
    z-index: -1;
}

