*{margin: 0;padding: 0;word-break: keep-all;}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
b,strong{font-weight: inherit;}
i,em,address{font-style: inherit;}
img{max-width: 100%;}
.mobile{display: none;}
/* common */
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    color: #383838;
}
.content_inner{
    padding: 130px 0;
    margin:0 auto;
    max-width: 1280px;
    width: 98%;
}
h3{ 
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
}
h3>span{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem; 
}
h3>i{
    color: #000;
    font-weight: 500;
    font-size: 4.5rem;
}
/* hidden_gnb */
.hidden_bg{
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: all .3s ease-in-out;
}
.hidden_bg.on{
    opacity: 1;
    pointer-events: auto;
}
.hidden_menu{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 270px;
    width: 50%;
    background: #fff;
    height: 100vh;
    box-sizing: border-box;
    transform: translateX(100%); 
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hidden_bg.on .hidden_menu{
    transform: translateX(0%);
}
.close_menu{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 2rem 0 0;
}
.hidden_gnb{
    font-size: 1.5rem;
}
.hidden_gnb>li>a{
    display: block;
    padding: 10px 20px ;
    font-weight: normal;
}
.hidden_gnb>li>a.on{
    font-weight: bold;
    color: rgb(52, 62, 71);
}
.hidden_gnb .top_0{
    display: none;
    background: #F5F5F5;
    padding: 20px 36px;
}
.hidden_gnb .top_0 a{
    display: block;
    margin-bottom: 20px;
}
.hidden_gnb .top_0 li:last-of-type a{
    margin-bottom: 0px;
}
.hidden_gnb .on .top_0 {
    display: block; /* on 클래스가 있는 메뉴의 하위 메뉴만 보여집니다. */
}
.hidden_bottom{
    background: #F5F5F5;
    height: 28vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
}
.hidden_bottom>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.hidden_bottom .call{
    width: 13px;
    margin-right: 5px;
} 
.hidden_bottom a{
    color: rgb(52, 62, 71);
    font-weight: bold;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}
.hidden_bottom .time_table{
    font-size: 1.4rem;
    font-weight: 600;
    color: #747474;
}
.hidden_bottom .time_table li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.hidden_bottom .time_table b{
    width: 60px;
    display: flex;
    justify-content: space-between;
}
/* header */
header{
    width: 100%;
    background: #fff;
    font-size: 1.6rem;
    position: fixed;
    padding: 2rem 0;
    transition: all .5s ease ;
    z-index: 100;
}
header.scroll{
    padding: 0;
    box-shadow: 0 19px 35px rgba(0,0,0,0.11);
    transition: all .5s ease ;
}
header .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    max-width: 1280px;
    width: 98%;
}
.header_menu{
    display: flex;
}
.header_menu .gnb{
    display: flex;
}
.header_menu .gnb>li>a{
    margin: 1.5rem;
    display:inline-block;
}
/* 1뎁스 hover 밑줄 이벤트 */
.header_menu .gnb>li>a:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(52, 62, 71);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.header_menu .gnb>li:hover>a:after { transform: scaleX(1); }
.header_menu .gnb>li>a:after{  transform-origin:  0% 50%; }
/*  */
.header_menu .gnb>li{
    position: relative;
    padding: 1.2rem 0;
}
.header_menu .gnb>li:hover>ul{
    opacity: 1;
    pointer-events: auto;
}
.header_menu .gnb>li>ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 5.7rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 19px 35px rgba(0,0,0,0.11);
    transition: all .3s ease;
}
.header_menu .gnb>li>ul.left_0{
    left: 0;
}
.header_menu .gnb>li>ul.right_0{
    right: 0;
}
.header_menu .gnb>li>ul>li>a{
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.8rem;
    width: 200px;
}
.header_menu .gnb>li>ul>li>a:hover{
    color: #fff;
    background: rgb(52, 62, 71);
}
.header_menu .open_menu{
    display: none;
    padding-left: 50px;
    cursor: pointer;
    align-items: center;
}
/* popup */
.popup_wrap {
    width: 450px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
.popup_wrap#popup_1 {
    left: 0;
}
.popup_wrap#popup_2 {
    left: 450px;
}
.popup_wrap#popup_3 {
    left: 900px;
}
.popup_wrap#popup_4 {
    left: 1350px;
}
.popup_foot {
    padding: 10px;
    font-size: 1.5rem;
}
.popup_foot>div{
    display: flex;
    justify-content: space-between;
}
.popup_foot label span{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.popup_close{
    cursor: pointer;
}
/* banner */
.main_station{
    height: 100vh;
    width: 100%;
}
.main_banner{
    height: 100%;
    width: 100%;
    background: url(../img/main_bg.jpg) no-repeat center /cover;
}
.main_cover{
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_cover h1{
    max-width: 260px;
    width: 50vw;
    margin-bottom: 5rem;
}
.main_cover p{
    font-size: 6.4rem;
    text-align: center;
    font-weight: 300;
    width: 90%;
}
.main_cover p span{
    font-weight: 500;
}
.main_cover p.one{
    margin-top: 30px;
    font-size: 3rem;
}
.introani{
    animation: introanimation 1s forwards cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
@keyframes introanimation {
    0%{opacity: 0;transform: scale(0.5);}
    100%{opacity: 1;transform: scale(1);}
}
/* swiper */
.main_station .swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    background: var(--swiper-pagination-color, #303e48);
}
.main_station .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 5%);
    color: #303e4889;
}
.main_station .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 5%);
    color: #303e4889;
}
/* open */
/* con1 */
.con1{
    width: 100%;
    background: #303e48;
    color: #fff;
    text-align: center;
}
.con1 .content_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con1 .knowhow_txt{
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 200;
}
.con1 .knowhow_txt span{
    font-weight: 500;
}
.con1 .open_txt{
    font-size: 15rem;
    font-weight: 900;
}
.con1 i{
    font-size: 3rem;
    font-weight: 500;
}
/* 어디가 불편하세요?  */
/* con5 */
.con5{
    background: #e5e5e5;
    width: 100%;

}
.con5 h3 i em{
    color: #5384c7;
}
.part_ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.part_ul>li{
    flex: 1;
    background: #fff;
    min-width: 250px;
    margin: 1rem;
}
.part_ul>li a{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.part_ul>li:hover img{
    transform: scale(1.2);
}
.part_ul>li img{
    transform: scale(1);
    transition: all .5s ease;
}
.part_ul .part_txt{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.part_ul .part_txt i{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #5384c7;
}
.part_ul .part_txt b{
    font-size: 3rem;
    font-weight: 300;
}
.part_img{
    width: 150px;
    height: 150px;
    margin: 2rem;
    border-radius: 50%;
    overflow: hidden;
    background: #d5d5d5;
    position: relative;
}
/* 주요시술 */
/* con6 */
.con6{
    background: #303e48;
    color: #fff;
}
.con6 h3>i {
    color: #fff;
}
.con6 .nonsurgical{
    display: flex;
}
.con6 .nonsurgical .content_wrap{
    flex: 1;
    margin: 1rem;
}
.con6 .content_wrap h5{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    text-transform: uppercase;
}
.con6 .content_wrap h5>span{
    font-size: 1.8rem;
    font-weight: 300;
}
.con6 .content_wrap h5>i{
    font-size: 4.5rem;
    font-weight: 700;
}
/* 비수술클리닉 */
/* con2 이미지링크*/
.con2{
    width: 100%;
}
.con2 .nonsurgical{

    display: flex;
    justify-content: space-between;
}
.con2 .nonsurgical>div{
    flex: 1;
    margin: 1rem;
}
.content_wrap{
    overflow: hidden;
    position: relative;
}
.content_wrap:hover img{
    transform: translate(-50%, -50%) scale(1.1);
}
.content_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: -1;
    transition: all .5s ease;
}
.con2 .content_wrap h5{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem 0;
    text-transform: uppercase;
}
.con2 .content_wrap h5>span{
    font-size: 1.8rem;
    font-weight: 300;
}
.con2 .content_wrap h5>i{
    font-size: 4.5rem;
    font-weight: 700;
}
/* con3 */
.con3{
    width: 100%;
    background: #e5e5e5;
}
.con3 .equipment{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.con3 .equipment img{
    object-fit: contain;
    transform: translate(-50%,-20%) scale(1);
    z-index: 1;
    filter: opacity(0.5);
}
.con3 .equipment div{
    flex: 1;
    min-width: 200px;
}
.con3 .content_wrap{
    margin: 1rem;
    background-color: rgba(255,255,255,0.7);
}
.con3 .content_wrap:hover img{
    transform: translate(-50%,-20%) scale(1.1);
}
.con3 .content_wrap h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 25rem;
    text-transform: uppercase;
    text-align: center;
    color: #383838;
}
.con3 .content_wrap h5>span{
    font-size:1.8rem;
    font-weight: 500;
    color: #5c5c5c;
}
.con3 .content_wrap h5>i{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
/* con4 */
.con4{
    background: url("../img/main_con4_bg.jpg")no-repeat center /cover;
    background-attachment:fixed;
}
.con4_filter{
    width: 100%;
    height: 100%;
    background: rgba(52, 62, 71, 0.7);
    backdrop-filter: blur(7px);
}


.con4 .content_inner>div{
    display: flex;
    justify-content: center;
}
.con4 img{
    max-width: 600px;
    width: 70%;
}

/* location */

.location .content_wrap{
    display: flex;
}
.location .content_wrap>div{
    flex: 1;
}
.location .location_txt{
    font-size: 1.6rem;
    padding-left: 3rem;
}
.location .location_txt h6{
    font-weight: 600;
    margin-bottom: 2rem;    
    font-size: 2.5rem;
}
.location .location_txt ul>li{
    display: flex;
}
.location .location_txt ul>li b{
    font-weight: 700;
    margin-bottom: 1rem;   
    width: 85px; 
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.location .location_txt hr{
    margin: 2rem 0;
    border: 0.1;
    background: #888;
    opacity: 0.3;
}
.tel{
    font-size: 3rem;
    font-weight: 800;
    display: flex;
}
.tel b{
    width: 85px;
    margin-right: 15px;

}
.subway{
    font-weight: 500;
}
.subway em{
    color: #2c9ede;
}
.subway strong{
    color: #758002;
}
.subway i{
    font-weight: 400;
}
/* 개인정보처리방침 */
.site{
    width: 92%;
    margin: 0 auto;
    max-width: 1500px;
    font-size: 2.0rem;
    line-height: 1.7em;
    font-weight: 300;
    word-break: keep-all;
    color: #333;
}
.site h6 {
    height: 30px;
    line-height: 33px;
    padding-left: 0px;
    font-size: 2.6rem;
    margin-bottom: 15px;
    color: #000;
    font-weight: normal;
    /* font-family: 'GmarketSansMedium'; */
}
/* 이메일무단수집거부 */
.email {
    background: #fff url(../img/email.png) no-repeat center 70px;
    background-size: 205px;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-bottom: 60px;
    font-size: 1.7rem;
    word-break: keep-all;
    border: 1px solid #dadada;
    padding: 30px;
    max-width: 640px;
}
.email .email_tit {
    padding-top: 200px;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #303e48;
    letter-spacing: -0.5px;
    word-break: keep-all;
    margin: 2rem 0;
}
.email_msg {
    /* width: 543px; */
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.9rem;
}

/* 비급여 */
/*  */
.time_wrap table {
    text-align: center;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-left: 0;
}
table, td {
    border-spacing: 0px;
    padding: 0px;
}
.time_wrap table tr td {
    padding: 10px;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
tr.bg td{
    background: rgba(0,0,0,0.1);
}

/* footer */

footer{
    background: #383838;
    color: #fff;
}
.footer_inner{
    padding: 80px 0;
    margin:0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer_inner>div{flex: 1}
.footer_left ul{
    display: flex;
    flex-wrap: wrap;
}
.f_top{
    /* 일단 안보이게 임시 */
    /* display: none!important; */
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}
.f_top>li::after{
    content: "•";
    display: inline-block;
    margin: 0 15px;
}
.f_top>li:last-of-type:after{
    content: none;
}
.f_bot{
    font-size: 1.6rem;
    font-weight: 300;
}
.f_bot>li{
    margin-right: 2.5rem;
    margin-bottom: 1rem;
}
.f_bot>li span{
    font-weight: 700;
}
.f_bot>li span::after{
    content: ":";
    display: inline-block;
    margin: 0 7px;
}
.footer_left P{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 1.5rem;
}
.footer_right{
    display: flex;
    justify-content: end;
    align-items: end;
}
.footer_right .f_logo{
    max-width: 300px;
}
