/* 병원소개 */
.sub_banner{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.sub_banner .sub_banner_inner{
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
}
.sub_banner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d6d6d6 url(../img/main_bg.jpg) no-repeat center center;
    background-size: cover;
    animation: animatedBackground 3s forwards cubic-bezier(0.25, 0.25, 0.75, 0.75);
    /* z-index: -1; */
}
@keyframes animatedBackground {
    0%{background-size: 150%;}
    100%{background-size: 130%;}
}
.sub_banner .introduction_name{
    /* box-sizing: border-box; */
    height: 100%;
    padding-top: 10rem;
    font-size: 6.0rem;
    color: #fff;
    position: relative;
    z-index: 2;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.sub_banner .introduction_name h2::after{
    content: "";
    display: block;
    background: #fff;
    margin: 2rem auto 4rem;
    width: 90px;
    height: 4px;
}
.sub_banner .introduction_name p{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    width: 85%;
}
/* tab_list */
.tab_list{
    background: #e3e3e3;
    font-size: 2.1rem;
}
.tab_list_inner{
    max-width: 1280px;
    margin:0 auto;
}
.tab_list_inner ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.tab_list_inner ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_list_inner ul a{
    line-height: 70px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab_list_inner ul li.on{
    background: #383838;
    color: #fff;
    font-weight: 700;
}
/* content */
.introduction_list>.content{display: none;}
.introduction_list>.content.on{display: block;}

.content h4{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9rem;
}
.content section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}
.content section>div{
    flex: 1;
    margin: 1rem;
}
.content .name_wrap{
    font-size: 4.5rem;
    font-weight: 200;
    letter-spacing: 10px;
    line-height: 5.5rem;
}
.circle{margin-top: -2rem;}
.circle>*{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: -5px;
}
.circle>i{
    background:#919191;
}
.circle>em{
    background:#383838;
}
.content .name_p{
    font-size: 2.2rem;
    font-weight: 700;
    color: #747474;
}
.content .name_p p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
}
/* con_wrap */
.con_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con_wrap.right_img{
    flex-direction: row-reverse;
}
.con_wrap img, .img_wrap{
    line-height: 0;
}
.con_wrap>div{
    flex: 1;
}
.con_wrap .img_wrap{
    width: 100%;
    /* height: 350px; */
    box-sizing: border-box;

}

.con_wrap .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con_wrap .txt_wrap{
    /* margin: 2rem; */
    color: #747474;
    box-sizing: border-box;
}
.con_wrap .txt_wrap h6::before{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #b4d4ff;
}
.con_wrap .txt_wrap h6{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 2rem;
}
.con_wrap .txt_wrap p{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 2rem;

}
/*  */
.content .doctor_h4{
    padding-top: 130px;
    margin-bottom: 0rem;
}
.doctor_wrap.content_inner{
    padding-bottom: 0;
    padding-top: 0;
}
.doctor{
    display: block;
    overflow: hidden;
    position: relative;
}
.doctor::before {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 69%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
    content: '';
    border-radius: 0 550px 0 0;
    z-index: -1;
}
.doctor_wrap{
    display: flex;
    justify-content: space-between;
}
.doctor_wrap>div{
   flex: 1;
}
.doctor_wrap .img_wrap{
   margin-right: 5rem;
   display: flex;
    align-items: flex-end;
}
.doctor_wrap .img_wrap img{
    filter: grayscale(0.2);
}

.doctor_wrap .txt_wrap{
    padding-bottom: 5rem;
}
.doctor_wrap .txt_wrap p:first-of-type{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 120px 0 40px;
}
.doctor_wrap .txt_wrap p:first-of-type span{
    color: #558dd9;
    font-weight: 700;
}
.doctor_name{display: flex;}
.doctor_name b{
    font-size: 5rem;
    font-weight: 900;
    margin-right: 1rem;
}
.doctor_name i{
    font-size: 2.1rem;
    font-weight: 400;
}
.doctor_name i em{
    font-weight: 700;
}
.doctor_history{
    margin-top: 7rem;
}
.doctor_history>ul{
    margin-top: 2rem;
    /* list-style-type: disc;
    list-style-position: inside; */
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 2.6rem;
}
.doctor_history>ul li{
    display: flex;
}
.doctor_history>ul li::before{
    content: "•";
    display: block;
    margin: 0 5px;
}
.txt_wrap p:last-of-type{
    margin-top: 4rem;
    font-size:2.1rem ;
    line-height: 3.9rem;
}
/* 신경성형술 */
.pen.con_wrap{
    margin-bottom: 7rem;
}
.pen.con_wrap ul{
    margin: 4rem 1rem 2rem;
    font-size: 2.1rem;
    line-height: 2.3rem;
    /* list-style-type: disc;
    list-style-position: inside; */
}
.pen.con_wrap ul li{
    display: flex;
    margin-bottom: 2rem;
}
.pen.con_wrap ul li::before{
    content: "•";
    display: block;
    margin: 0 5px;
}
.bg_wrap .inner{
    margin:0 auto;
    max-width: 1280px;
    width: 98%;
}
.content_inner.pen_inner{
    padding-bottom: 0;
}
.bg_wrap.bluebg{
    position: relative;
}
.bg_wrap.bluebg::before{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #b4d4ff;
    content: '';
    /* border-radius: 0 550px 0 0; */
    z-index: -1;
}

/* news */
.news{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.news li{
    flex-grow: 1;
    margin: 1rem;
    /* position: relative; */
    /* min-width: 260px; */
    /* width: 30%; */
}
.news li>a{
    display: flex;
    flex-direction: column-reverse;
}
.news li .imgFrame{
    overflow: hidden;
    aspect-ratio: auto 1 / 1;
}
.news li:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}
.news li img{
    width: 100%;
    height: 100%;
    /* height: 400px; */
    /* aspect-ratio: auto 1 / 1; */
    object-fit: cover;
    line-height: 0;
    filter: grayscale(0.8);
    transition: all .5s ease 0s;
}
.news li h3{
    font-weight: bold;
    font-size: 2rem;
    margin: 2.5rem 1rem 1rem;
    line-height: 1.4;
    height: 50px;
    text-align: start;
}
.news li p{
    color: #666;
    font-size: 1.6rem;
    line-height: 1.4;
    height: 45px;
    margin: 1rem 1rem 2.5rem;
}
.news li em{
    color: #fff;
    background: #5a5a5a;
    display: inline-block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    /* margin-top: 2px;
    margin-left: 2px; */
}
.news li:hover .newsTxt em{
    /* color: #5a5a5a;
    background: #fff; */
    border-bottom: 2px solid #fff;
}
.news li span{
    display: block;
    text-align: right;
    color: #5a5a5a;
    font-size: 1.4rem;
    padding: 0 1rem;
}
.news li:hover .newsTxt *{color: #fff;}
.news li:hover .newsTxt h3{
    color: #fff;
}
.news li .newsTxt{
    /* padding: 10px; */
    padding-bottom: 20px;
    transition: all .5s ease 0s;
    position: relative;
}
.news li:hover .newsTxt::after{height: 100%;}
.news li .newsTxt::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #5a5a5a;
    transition: all .5s ease 0s;
}

/* 비수술클리닉 */
/* DNA주사치료 */
.dna_em{
    display: block;
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin: 1rem 2rem;
}
.inner .txt_wrap .dna_ul{
    margin: 2rem;
}
.inner .txt_wrap .dna_ul li::before{
    content: none;
}
.inner .txt_wrap .dna_ul li{
    display: block;
}
.inner .txt_wrap .dna_ul li b{
    display: block;
    font-weight: 700;
}

/* 프롤로주사 */
.bg_wrap.bluebg_72::before{
    height: 72%;
}

.txt_wrap p>.pointbold{
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
}
/* 신경차단술 */
.con_wrap .img_wrap.heightAuto {
    height: auto;
}

.bg_wrap:last-of-type{
    margin-bottom: 20rem;
}

/* 입원실 */

.exploration2 .exploration2_img_wrap{
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exploration2 .exploration2_img_wrap img{
    object-fit: cover;
}
.exploration2 h6{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 5rem 0;
    color: #747474;
    padding-left: 2.5rem;
}
.exploration2 h6 em{
    color: #4277c0;
}
.exploration2 h6::before{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #b4d4ff;
}
.exploration2 dl dt{
    background: #b4d4ff;
    line-height: 5.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 2.5rem;
    border-radius: 5.5rem;
}
.exploration2 dl dd{
    line-height: 3.7rem;
    font-size: 3rem;
    font-weight: 300;
    padding: 1.5rem 2.5rem 3.5rem;
}
/* 보유장비 */
.smartct_ul{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    /* flex-wrap: wrap; */
}
.txt_wrap ul.smartct_ul li::before{
    content: none;
}
.smartct_ul li{
    display: flex;
    align-items: center;
    border: 1px dotted #3838388d;
    padding: 3rem 2rem;
    flex-grow: 1;
}
.smartct_ul li em{
    flex-shrink: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 900;
    background: #b4d4ff;
    margin-right: 1rem;
    line-height: 0;
}
.smartct_ul li b{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.9rem;
}
.bg_wrap.bluebg_70::before{
    height: 70%;
}