@media (min-width:0px) and (max-width:900px){
    /* header */
    .header_inner .header_menu .gnb{
        display: none;
    }
    .header_inner .header_menu .open_menu{
        display: flex;
    }
    .header_inner{
        padding: 5px;
    }

    /* common */
    .bg_wrap.bluebg::before {
        display: none;
    }
    /* con2 */
    .con2 .content_inner .nonsurgical {
        flex-direction: column;
    }
    /* main 주요시술 */
    .con6 .content_inner .nonsurgical {
        flex-direction: column;
    }
    /* main 보유장비 */
    .con3 .equipment img {
        transform: translate(-50%,-10%) scale(1);
    }
    .con3 .content_wrap:hover img {
        transform: translate(-50%,-10%) scale(1.1);
    }
    /* sub_banner */
    .sub_banner{height: 400px!important}
    @keyframes animatedBackground {
        0%{background-size: 220%;}
        100%{background-size: 200%;}
    }


    /* location */
    .location .content_wrap {
        flex-direction: column;
        padding: 0 2rem;
    }
    .location .location_txt{
        padding-left: 0rem;
        padding-top: 3rem;
    }

    /* introduction */
    /* 진료철학 */
    .introduction_list .content_inner section{
        flex-direction: column;
    }
    .introduction_list .content_inner .con_wrap{
        flex-direction: column;
    }
    main .content .name_wrap {
        font-size: 2.6rem;
        font-weight: 200;
        letter-spacing: 4px;
        line-height: 4.3rem;
    }

    /* 대표원장 소개 */
    .doctor::before {
        border-radius: 0 50px 0 0!important;
    }
    .doctor .doctor_wrap{
        flex-direction: column;
    }
    .doctor_wrap .img_wrap {
        margin-right: 0rem!important;
    }
    .doctor_wrap .txt_wrap{
        width: 95%;
        margin: 0 auto;
    }
    .doctor_wrap .txt_wrap p:first-of-type {
        margin: 40px auto 40px!important;
    }
    .doctor_wrap .doctor_history {
        margin-top: 2rem;
    }
    .doctor_wrap .txt_wrap p:last-of-type {
        margin-bottom: 7rem;
        
    }
    /* 신경성형술 */
    .introduction_list .con_wrap.pen{
        flex-direction: column;
    }
    /* news */
    .news{
        grid-template-columns: repeat(2, 1fr);
    
    }
    /* 보유장비 */
    .smartct_ul{
        flex-direction: column;
    }

    /* footer */
    .footer_inner{
        flex-direction: column;
        padding: 5rem 0;
    }
    .f_logo{
        margin-top: 10rem;
    }


}